.qhl-markdown {
    --markdown-bg: #fff;
    --markdown-border-color: #452e2e5e;
    --markdown-font-color: #000;
    --markdown-h4-font-color: #000000b8;
    --markdown-code-bg: #222222;
    --markdown-code-font-code: #1ebfed;

    padding: var(--s-6) calc((100% - 928px)/2);
    height: 100%;
    min-height: 100vh;
    color: var(--markdown-font-color);
    display: flex;
    background: url(../../assets/images/other/brown-papersq.png);
    background: linear-gradient(to right top, #65dfc9 0%, #6cdbed 100%);



    .qhl-markdown-content {
        flex: 1;
        backdrop-filter: blur(30px);
        border-radius: var(--s-5);
        padding: var(--br-xxxl);
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.3));
        // background-color: rgba(255, 255, 255, 0.3);
        color: var(--markdown-font-color);
        box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);



        >header {
            color: var(--markdown-h4-font-color);
        }

        // 插槽统一样式

        .markdown-content-slot {
            .section-item {
                a {
                    color: #000;

                    &:hover {
                        color: @link-hover-color;

                    }
                }

                img {
                    object-fit: cover;
                    width: 100%;
                }

                h3 {
                    padding-bottom: var(--br-md);
                    border-bottom: 1px solid var(--markdown-border-color);
                    color: var(--markdown-font-color);
                }

                .section-item-code {
                    border-radius: var(--s-1);
                    font-size: var(--font-sm);
                    color: var(--markdown-code-font-code);
                }

                h4 {
                    color: var(--markdown-font-color);
                }

            }
        }


    }
}